/* body {
    font-weight:bold;
    font-family: 'Oxygen', sans-serif;
    margin-top: 200px;
    
  } */

.header {
position: fixed;
left: 0;
top: 0;
width: 100%;
background-color:#cff4fc; 
} 

#logo {
    margin-top: 10px;
    margin-bottom: -100px;
    padding-right: 30px;
}

/* .imgsizelogo {
width: 900px;
} */

.logo1 {
    position:relative;
    top: 100px;
    left: 0;
    width:100px;
}

/* #errorMessage {
    color: rgb(106, 177, 0);
} */

.btnFont {
    font-size: 10px;
   
}

.btnColor {
    background-color: #cff4fc;
}


.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:#cff4fc;
}